:root {
  --verde-agua: #eff8ed;
  --naranja: #fa7203;
  --rojo: #e30622;
  --bermellon: #d10624;
}
p,
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul {
  padding: 0;
  margin: 0;
}
body,
html {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: var(--verde-agua);
}
a {
  text-decoration: none;
}
section {
  padding: 0 100px;
}
