:root {
  --verde-agua: #eff8ed;
  --naranja: #fa7203;
  --rojo: #e30622;
  --bermellon: #d10624;
  --violeta: #634267;
}
p,
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul {
  padding: 0;
  margin: 0;
}
body,
html {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: var(--verde-agua);
}
a {
  text-decoration: none;
}
section {
  padding: 0 100px;
}
.spinner {
  width: 4rem;
  height: 4rem;
  border: 0.5rem solid;
  border-color: var(--naranja) transparent var(--naranja) transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #000000ae;
  z-index: 1;
}
.main {
  margin-top: 80px;
}
.bienvenidos {
  background-color: var(--bermellon);
  color: white;
  padding-top: 80px;
  padding-bottom: 4rem;
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.bienvenidos h1 {
  font-size: 7rem;
  margin-bottom: 4rem;
}
.bienvenidos h2 {
  font-size: 4rem;
}
.bienvenidos img {
  width: 15rem;
  position: absolute;
  top: 20%;
  right: 5%;
  transform: rotate(-10deg);
}
.icono a {
  font-size: 1.5rem;
}
.footer {
  display: flex;
  background-color: #333;
  color: white;
  padding: 5rem;
  margin-top: 3rem;
}

.footercate,
.admin {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
}
.footercate a,
.admin a {
  color: white;
  text-decoration: none;
}
.presentacion {
  flex: 2;
}
.contenido {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.proceso li {
  list-style-type: none;
  display: grid;
  grid-template-columns: 10% 1fr;
  align-items: center;
  border: var(--naranja) solid 1px;
  border-radius: 0.5rem;
  background-color: white;
  padding: 1rem 1rem 1rem 0;
}

.proceso li p.numero {
  color: var(--naranja);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
.proceso {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
