{{> nav}}
<section class="encabezado">

  <h1>Hola, estás en Windward</h1>
 
  <h2 class="error404">
    404
  </h2>
  <p>Parece que te perdiste en el océano de baterías.</p>
  <p>Volvé a navegar por nuestro sitio con los enlaces del menú superior.</p>
</section>