{{> nav}}
<section class="container">

  <h1>Hola, estás en Windward</h1>
 
  <h2 class="error404">
    404
  </h2>
  <p>Pero parece que te perdiste en un océano de baterías.</p>
  <p>Volvé a navegar por nuestro sitio con los enlaces del menú superior.</p>
</section>
{{> footer}}