<nav>
  <ul class="navigation">
    <li><a href="/admin">>> Admin Carritos</a></li>
    <li><a href="/home">>> Admin Productos</a></li>
    <li><a href="/catalogo">>> Catálogo público</a></li>
    <li><a href="/chat">>> Customer Support</a></li>
  </ul>
</nav>

<div class="error">
  <h3>Lo sentimos, hubo un error</h3>
  <p>
    {{message}}
  </p>
</div>