{{> nav}}

<section class="bienvenidos">

  <h1>Bienvenidos...</h1>
  
    <h2>A mi proyecto final del curso de Back End de Coderhouse</h2>
    <img src="/images/logoCoderSquare.jpg" alt="logo Coder">
</section>
<section class="contenido"></section>

{{> footer}}
