{{> nav}}

<section class="main">
{{#if logueado}}
{{> user}}
 {{else}}

      <div class="usuario">
        <p>Aun no estás logueado. Click
          <a href="/users/login">aquí</a>
          si querés loguearte</p>
      </div>
  {{/if}}
  <h1>Bienvenido a Windward Car &amp; Truck Battery Store</h1>
  <h2>Este es tu carrito de compras PROVISORIO</h2>
  <p>Hacé click en el botón INICIAR COMPRA de más abajo. Si aún no sos usuario registrado, o no estás logueado, te pediremos que completes unos datos para poder enviarte el comprobante de pago.</p>
  <button id="borrarCarrito">Borrar carrito ❌</button>
<div class="grandTotal"></div>
  <div class="contenedorCarrito">

  </div>
  <div class="grandTotal">

  </div>
  <div class="centered compra"><button id="guardar">INICIAR COMPRA</button></div>

</section>
{{> footer}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/localcart.js"></script>