<section>

  <h1>Bienvenido a Windward Car &amp; Truck Battery Store</h1>
  <h2>Este es tu carrito de compras SIN GUARDAR</h2>
  <p>Tené en cuenta que este carrito aun no está guardado en nuestros registros
    y podría perderse la información para la próxima vez que entres a nuestra
    página. Si querés asegurarte de guardar el carrito para una compra más
    adelante, hacé click en el botón GUARDAR. Si no estás logueado, te llevará
    primero al sistema de login y registro.</p>
  <button id="borrarCarrito">Borrar carrito ❌</button>

  <div class="contenedorCarrito">

  </div>
  <button id="guardar">Guardar carrito</button>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/localcart.js"></script>