<div>
  <h1 class="centered">Windward Car &amp; Truck - Battery Store</h1>
  <h3 class="centered">Formulario de Login</h3>
  <p class="centered">Si no tenés una cuenta con nosotros, create una haciendo
    click
    <a href="/users/register">ACÁ</a></p>
  <form class="session_form" id="loginForm">
    <div>
      <label>Email</label>
      <input name="userEmail" />

    </div>
    <div>
      <label>Contraseña</label>
      <input type="password" name="userPassword" />
    </div>
    <div><input type="submit" value="LOGUEARME" /></div>

  </form>
  <p class="centered">¿No estás registrado?
    <a href="/users/register">REGISTRATE</a></p>

</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>