{{> nav}}
<div class="container">
  <h1 class="centered">Windward Car &amp; Truck - Battery Store</h1>
  <h3 class="centered">Formulario de Login</h3>
  <p class="centered">Si no tenés una cuenta con nosotros, create una haciendo
    click
    <a href="/users/register">ACÁ</a></p>
  <form class="session_form" id="loginForm">
    <div>
      <label>Email</label>
      <input name="userEmail" type="email" required />

    </div>
    <div>
      <label>Contraseña</label>
      <input type="password" name="userPassword" id="userPassword" required minlength="3" maxlength="15" />

    </div>
    <button id="verPassword">👀 Ver Password</button>
    <div><input type="submit" value="LOGUEARME" /></div>

  </form>

  <p class="centered">Si tenés cuenta de Github, te invitamos a loguearte a
    través de la misma</p>
  <p class="centered"><a class="github" href="/api/sessions/github"><img
        class="logo"
        src="/images/invertocat.png"
        alt="logo github"
      />
      GITHUB</a></p>

</div>
{{> footer}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>