{{> nav}}
<div class="container">
  <h1>Hola, <span id="nombreUsuario"></span>. Bienvenido/a al chat de servicio al cliente</h1>
<div><p class="derecha">NOTA: scroll hacia arriba para ver mensajes anteriores</p></div>
  <div class="contenedorChat">
    <div class="
    areadetexto">
      <p> Mensaje: <input id="chatBox" type="text" rows="6" /></p>
      <button id="closeChatBox">Cerrar Chat</button>

    </div>
    <div class="logs">
      <div id="messageLogs">
      </div>
    </div>
  </div>

</div>
{{> footer}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages.js"></script>