<div class="error">
  <h1>Windward Car &amp; Truck Battery Store</h1>
  <h3>Tu perfil</h3>
  <p>Estos son los datos que tenemos sobre vos (sin datos sensibles)</p>
  <div id="info"></div>
  <div id="carritoBDD"></div>
  <div class="carrito"></div>
  <button id="logout">Desloguearme</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/profile.js"></script>