<div>
  <h1 class="centered">Windward Car &amp; Truck - Battery Store</h1>
  <h3 class="centered">Formulario de Registro</h3>
  <p class="centered">Si ya tenés una cuenta con nosotros, logueate haciendo
    click
    <a href="/users/login">ACÁ</a></p>

  <form class="session_form" id="registerForm">

    <div>
      <label>Nombre</label>
      <input name="userName" />
    </div>
    <div>
      <label>Apellido</label>
      <input name="userLastName" />
    </div>
    <div>
      <label>Email</label>
      <input name="userEmail" />
    </div>
    <div>
      <label>Edad</label>
      <input name="userAge" />
    </div>
    <div>
      <label>Contraseña</label>
      <input type="password" name="userPassword" />
    </div>

    <div><input type="submit" value="Enviar" /></div>
  </form>
  <p class="centered">¿Ya tenés una cuenta?
    <a href="/users/login">LOGUEATE ACÁ</a></p>
</div>

<script src="/js/register.js"></script>