{{> nav}}
<div class="container">
  <h1 class="centered">Windward Car &amp; Truck - Battery Store</h1>
  <h3 class="centered">Formulario de nueva contraseña</h3>
  <p class="centered">Si no tenés una cuenta con nosotros, create una haciendo
    click
    <a href="/users/register">ACÁ</a></p>
  <form class="session_form" id="restablecer">
<p>IMPORTANTE: no se puede repetir la contraseña</p>
     <div>
      <label>Email registrado</label>
      <input name="email" type="email" id="email" readonly required value={{emailRecibido}} />
      <label>Password</label>
      <input name="pass" type="password" id="pass" required />

    </div>
    
    <div><input type="submit" value="Enviar" /></div>
   

  </form>
</div>
{{> footer}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/restablecer.js"></script>