<div class="error">
  <h3>Estás en Windward Car &amp; Truck battery store</h3>
  <p>
    {{message}}
  </p>
  <p>Si ya tenés cuenta con nosotros, <a href="/users/login">LOGUEATE</a></p>
  <P>
    Si aún no tenés cuenta,
    <a href="/users/register">REGISTRATE</a>
  </P>
</div>