<section class="footer">
  <div class="footercate">

  </div>
  <div class="admin">
    <h2>Administrador</h2>
    <a href="/admin/carts">Carritos</a>
    <a href="/admin/products">Productos</a>
  </div>
  <div class="presentacion">
    <p>Mi nombre es Amneris Calle y estoy finalizando la carrera de Full Stack
      Developer. Este trabajo es el cierre del último curso de la carrera y
      consistió en hacer un ecommerce completo, en especial la programación del
      backend. Dado lo complejo del trabajo y el poco tiempo que tuve libre para
      dedicarle al proyecto, el front end es bastante básico en lo que a estilos
      se refiere, ¡¡pero funciona!! 😎</p>
  </div>
</section>